/node_modules
pnpm-lock.yaml
/.turbo
/.next
/apps/**/.next
/apps/**/out
/apps/**/dist
/apps/**/coverage
/apps/**/.turbo
/apps/**/.vercel
/apps/**/.netlify
packages/**/dist
coverage
.env
.env.local
.env.*.local
.prisma
/tmp
.DS_Store
.idea
.vscode
/postman
/public/exports
